<div>
	<h1>Hello from form component</h1>

	<form [formGroup]="captureForm">
		<label for="fName">First name:</label>
		<input type="text" name="fName" formControlName="fName"/>
		<br/><br/>
		<label for="foodType">Food Type:</label>
		<input type="radio" value="Veg" name="foodType" formControlName="foodType"/>Veg
		<input type="radio" value="NonVeg" name="foodType" formControlName="foodType"/>Non-Veg
	</form>
	<br/>
	<br/>
	<br/>
	{{ captureForm.value | json}}
	<br>
	<br>
	<br>
	<input type="button" value="Add new field" (click)="addNewFiledBtnHandler()"/>
</div>